<footer class="footer">
    <div class="container">
        
        {% if site.footer_menu %}
        <div class="columns is-multiline">
            {% for item in site.data[site.footer_menu] %}
            <div class="column has-text-centered">
                <div>
                    <a href="{{ item.link | prepend: site.baseurl }}" class="link">{{ item.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

<!--        <div class="content is-small has-text-centered">-->
            <!--<p class="">Theme built by <a href="https://www.csrhymes.com">C.S. Rhymes</a></p>-->
        <!--</div>-->
    </div>
</footer>
